<div class ="logincard"
    [formGroup]="passwordForm">
    <h1 class="logincard__header">Rejestracja</h1>
    <input class="form-control" type="text" name="password" placeholder="hasło"       
        formControlName="password">
    <input class="form-control" type="text" name="repeatedpassword" placeholder="powtórz hasło"
        formControlName="repeatedpassword">
    <div class = "logincard__haze">
        <ul class="logincard__list" style="color:red">
                        
            <li (click) = "focusRepeatedemailInput()"
            *ngIf = "passwordForm.hasError('upperCaseReq')"> wielką literę</li>   
            <li (click)="focusRepeatedemailInput()" *ngIf="passwordForm.hasError('lowerCaseReq')">Hasło musi zawierać małą literę</li>    
            <li (click)="focusRepeatedemailInput()" *ngIf="passwordForm.hasError('numbersReq')">Hasło musi zawierać cyfrę</li> 
            <li (click)="focusRepeatedemailInput()" *ngIf="passwordForm.hasError('specialCharReq')">Hasło musi zawierać znak specjalny</li>    
            <li (click) = "focusRepeatedPasswordInput()" *ngIf = "passwordForm.hasError('notSame')"> Hasła muszą być takie same</li>  
            <li (click)="focusRepeatedPasswordInput()" *ngIf=" passwordForm.hasError('minLengthReg')">Hasło musi zawierać 6 znaków lub więcej</li>   
            <li (click) = "focusPasswordInput()" *ngIf = "password.errors?.required">Pole hasło nie może być puste</li>
            <li (click)="focusRepeatedPasswordInput()" *ngIf="repeatedpassword.errors?.required">Pole powtórz hasło nie może być puste</li>                        
                     
        </ul>
        <div class = "logincard__hazeaarrow"></div>
    </div>
    <input class="logincard__submitbtn" type="submit" value="Zarejestruj się"
        (click) ="onSubmit()"
        [ngClass] ="{
            'logincard__submitbtn': true,
            'logincard__submitbtn--activ': !passwordForm.invalid,
            'logincard__submitbtn--unactiv': passwordForm.invalid
        }">
    <div></div>
</div>
